<p-toast position="top-center"></p-toast>

<div class="card" *ngIf="!errorCode">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuovo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" pTooltip="Crea nuovo" tooltipPosition="bottom"></button>
            <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedElements()" [disabled]="!selectedSecUsers || !selectedSecUsers.length" pTooltip="Elimina selezionati" tooltipPosition="bottom"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <!--<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 p-d-inline-block"></p-fileUpload>-->
            <button pButton pRipple label="Pdf" icon="pi pi-file-pdf" class="p-button-info" (click)="downloadReport('pdf')" pTooltip="Scarica Pdf" tooltipPosition="bottom"></button>
            <button pButton pRipple label="Xls" icon="pi pi-file-excel" class="p-button-info ml-2" (click)="downloadReport('xls')" pTooltip="Scarica Xls" tooltipPosition="bottom"></button>
            <button pButton pRipple label="Csv" icon="pi pi-file" class="p-button-info ml-2" (click)="downloadReport('csv')" pTooltip="Scarica Csv" tooltipPosition="bottom"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="secUsers" [rows]="defaultRows" [paginator]="true"
        [lazy]="true" (onLazyLoad)="loadListEvent($event)"  [totalRecords]="totalRecords" [loading]="loading"
        [rowsPerPageOptions]="[10,25,50,100]" [(selection)]="selectedSecUsers" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Elementi da {first} a {last} di {totalRecords} elementi totali" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h3 class="mb-2">Gestione Sicurezza Utenti</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Cerca..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <!--<th pSortableColumn="password">Password <p-sortIcon field="password"></p-sortIcon></th>
                <th pSortableColumn="pin">Pin <p-sortIcon field="pin"></p-sortIcon></th>-->

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-secUser>
            <tr>
                <td>
                    <p-tableCheckbox [value]="secUser"></p-tableCheckbox>
                </td>
                <td>{{secUser.id}}</td>
                <td>{{secUser.username}}</td>
                <td>{{secUser.email}}</td>
                <!--<td>{{secUser.password}}</td>
                <td>{{secUser.pin}}</td>-->

                <td>
                	<button pButton pRipple icon="pi pi-eye" class="p-button-text p-button-primary mr-2" (click)="detailElement(secUser)" pTooltip="Mostra dettagli" tooltipPosition="top"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-primary mr-2" (click)="editElement(secUser)" pTooltip="Modifica" tooltipPosition="top"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-primary" (click)="deleteElement(secUser)" pTooltip="Elimina" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Elementi totali: {{totalRecords}}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="secUserDialog" [style]="{width: '650px'}" header="Dettagli SecUser" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="id">Id</label>
            <p-inputNumber id="id" inputId="integeronly" [(ngModel)]="secUser.id"  ></p-inputNumber>
        </div>
        <div class="field">
            <label for="username">Username</label>
            <input id="username" type="text" pInputText [(ngModel)]="secUser.username" required  autofocus> 
            <small class="p-invalid" *ngIf="submitted && secUserValidation.controls['username'].errors">{{getValidationMessage(secUserValidation.controls.username)}}</small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText [(ngModel)]="secUser.email" required  > 
            <small class="p-invalid" *ngIf="submitted && secUserValidation.controls['email'].errors">{{getValidationMessage(secUserValidation.controls.email)}}</small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input id="password" type="text" pInputText [(ngModel)]="secUser.password"   > 
        </div>
        <div class="field">
            <label for="pin">Pin</label>
            <input id="pin" type="text" pInputText [(ngModel)]="secUser.pin"   > 
        </div>

    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annulla" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salva" icon="pi pi-check" class="p-button-text" (click)="saveElement()"></button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '550px'}" acceptLabel="Si"></p-confirmDialog>
<app-error-page *ngIf="errorCode" [inputCode]="errorCode"></app-error-page>
